/* Font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* common  styles or utilities  */
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    
}
.header-info{
    max-width: 50%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#header{
    width: 100%;
}
.header-image{
    background-image: url(images/circle-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 50%;
}
.header-image img{
    width: 100%;
}


/* Navbar section  */
nav{
    display: flex;
    justify-content: space-between;

}
ul li{
    list-style: none;
    margin-left: 34px;
}
ul li a{
    text-decoration: none;
    color: #3A3A3A;

}
ul{
    display: flex;
    margin-top: 95px;
}

.site-name{
    font-size: 24px;
    margin-top: 87px;
}
h1{
    font-size: 52px;
    margin-bottom: 0px;
}
h2{
    font-size: 28px;
}

.heading-flex{
    display: flex;
    margin-top: 80px;
}
.heading-para{
    font-size: 16px;
    margin-right: 200px;
}
.prebook-link{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 24px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    text-decoration: none;
}


/* Logo styles  */
.logos{
    margin-top: 100px;
}
.logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 25px;  
}

/* popular colletion style  */
.grid-popular-collection{
    margin: 471px auto;

}
.price{
    font-size: 24px;
    margin: 0 0 0;
    font-weight: 400;
}
.product-info-rating{
    font-size: 14px;
    margin-left: 8px;
}

.rating{
    display: flex;
    align-items: center;
    color: #FB8200;
}
.picture-heading{
    font-size: 28px;
    margin: 16px 0 6px;
}
.product-info{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
   
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 0 auto;
}
.popular-collection{
    padding-top: 17px;
    padding-right: 15px;
    padding-bottom: 17px;
    padding-left: 14px;
    width: 300px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.164);
    border-radius: 15px;
      
}
.popular-collection img{
    width: 300px;
    height: 256px;
}
.heading-popular-collection{
    text-align: center;
}